.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#chat-input {
    padding: 20px;
    border-radius: 2px;
    border: none;
    font-size: large;
    width: 80%;
}

#chat-send {
  margin: 50px;
  padding: 10px 30px;
  font-size: 1.5rem;
  border-radius: 2px;
  background: cadetblue;
  border: none;
  color: inherit;
  cursor: pointer;
}
